@using EntityLayer.Concrete
@model List<Message>

@{
    ViewData["Title"] = "Send";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Hộp Thư Đi</h1>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th><h5>ID</h5></th>
                <th><h5>Chủ Đề</h5></th>
                <th><h5>Nội Dung Tin Nhắn</h5></th>
                <th><h5>Ngày Gửi</h5></th>
                <th><h5>Tên Người Nhận</h5></th>
                <th><h5>Email Người Nhận</h5></th>
                <th><h5></h5></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><h4>@item.MessageID</h4></td>
                    <td>@item.Subject</td>
                    <td>@item.MessageDetails</td>
                    <td>@item.MessageDate</td>
                    <td>
                        @{
                            if (item.ReceiverUser.WriterID == item.SenderUser.WriterID)
                            {
                                <span>@item.ReceiverUser.WriterNameSurname (Tôi)</span>
                            }
                            else
                            {
                                <span>@item.ReceiverUser.WriterNameSurname</span>
                            }
                        }
                    </td>
                    <td>@item.ReceiverUser.WriterMail</td>
                    <td>
                        <button class="btn btn-danger" style="width:60px; padding: 8px 10px; font-size: 14px; text-align: center;"
                                onclick="confirmDelete('@item.MessageID')">
                            Xóa
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<div class="d-flex justify-content-center">
    <a href="/Message/SendMessage/" class="btn btn-inverse-primary">Gửi Tin Nhắn Mới</a>
</div>

<script>
    function confirmDelete(messageId) {
        Swal.fire({
            title: 'Xóa?',
            text: 'Bạn có chắc chắn muốn xóa tin nhắn này?',
            showDenyButton: true,
            confirmButtonText: 'Có',
            denyButtonText: 'Không',
            customClass: {
                actions: 'my-actions',
                cancelButton: 'order-1 right-gap',
                confirmButton: 'order-2',
                denyButton: 'order-3',
            },
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/Message/DeleteMessage/' + messageId;
            }
        })
    }
</script>
<style>
    .table thead th {
        border-bottom: 1px solid #dee2e6;
    }

    .table tbody tr:first-child {
        border-top: none;
    }

    .table tbody tr:last-child {
        border-bottom: 1px solid #dee2e6;
    }
</style>
