@model Core.Models.BlogAddViewModel

@{
	ViewData["Title"] = "BlogAdd";
	Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Blog Oluştur</h1>
<br />

<form id="blogForm" method="post" enctype="multipart/form-data">
	<h4>Başlık</h4>
	@Html.TextBoxFor(x => x.BlogTitle, new { @class = "form-control" })
	@Html.ValidationMessageFor(x => x.BlogTitle, "", new { @class = "text-danger" })
	<br />
	<br />
	<h4>Görsel</h4>
	<input type="file" id="BlogImage" name="BlogImage" class="form-control" />
	@Html.ValidationMessageFor(x => x.BlogImage, "", new { @class = "text-danger" })
	<br />
	<br />
	<h4>Kategori</h4>
	@Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.categories, new { @class = "form-control" })
	<br />
	<br />
	<h4>İçerik</h4>
	@Html.TextAreaFor(x => x.BlogContent, 10, 3, new { @class = "form-control" })
	@Html.ValidationMessageFor(x => x.BlogContent, "", new { @class = "text-danger" })
	<br />
	<br />


	<!-- You can use a div tag as well. -->

	<!-- Include Editor JS files. -->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"></script>

	<!-- Initialize the editor. -->
	<script>
		  new FroalaEditor('textarea', {
   events: {
     "image.beforeUpload": function(files) {
     var editor = this;
      if (files.length) {
        // Create a File Reader.
        var reader = new FileReader();
        // Set the reader to insert images when they are loaded.
        reader.onload = function(e) {
          var result = e.target.result;
          editor.image.insert(result, null, null, editor.image.get());
        };
        // Read image as base64.
        reader.readAsDataURL(files[0]);
      }
      editor.popups.hideAll();
      // Stop default upload chain.
      return false;
     }
   }
 });

	</script>
	<div class="d-flex justify-content-center"><button type="submit" class="btn btn-inverse-success" style="width: 220px">Oluştur</button></div>
</form>

